*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans'
}
.portada{
    width:100%;
    height: 600px;
    background: #e4efef; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(78, 56%, 85%, 0.453), hsla(184, 46%, 88%, 0.47)), url(img/quinoa2.jpg);
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(78, 56%, 85%, 0.495), hsla(186, 38%, 84%, 0.385)), url(img/quinoa2.jpg);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background-size: cover;
    background-attachment: fixed;
    position: relative;

}